@charset "utf-8";
@import url('https://fonts.cdnfonts.com/css/poppins');
@keyframes entrata_sinistra {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%)
	}
}
@keyframes entrata_destra {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%)
	}
}
@keyframes cambia{
	from{
		float: left;
	}
	to{
		float: right;
	}
	
}
@media (min-width : 1425px ) and ( max-width : 1920px ){

	*{
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		max-width: 100%;
		overflow-x: hidden;
		font-family: 'Poppins', sans-serif;
	}
	.header{
		width: 100%;
		height: 300px;
		display: block;
		background-color: white;
		box-shadow: 10px 0px 5px 5px #66453A;
		
	}
	.inner_header{
		width: 1000px;
		height: 100%;
		display: block;
		margin: 0 auto;
		text-align: center;
			
	}
	.logo{
		width: 100%
	}
	.logo_container{
		padding-right: 9px;
		height: 80%;
		width: 30%;
		display: block;
		margin: auto;
	}
	.logo_container h1{
		height: auto;
		display: table-cell;
		vertical-align: top;
	}
	.navigation{
		padding-left: 10px;
		height: auto;
	}
	.navigation a{
		height: 100%;
		display: inline-block;
		padding: 0px 15px;
	}
	.navigation a li{
		display: table-cell;
		vertical-align: middle;
		color: black;
		font-size: 30px;
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		transition-duration: 1s;
	}
	.navigation a li:hover{
		color: #66453A;
		text-shadow: 1px 1.5px 3px #766A53;
	}
	body{
		background-color: antiquewhite;
	}
	.pres{
		width: 1920px;
		height: 1080px;
		position: relative;
		display: block;
		z-index: 0;
		overflow-y: hidden;
	}
	#sfondo{
		position: absolute;
		z-index: 1;
		min-height: 1080px;
		min-width: 1920px;
		right: 0;
		top: 3px;
		bottom: 0;
		display: block;
		overflow-y: hidden;
		
	}
			
	.sovraimpr{
	position: absolute;
	bottom: 0px;
  	background: rgba(117,85,74,0.77);
  	color: #f1f1f1;
	font-family: 'Poppins', sans-serif;
  	padding: 30px;
	width: 100%;
	z-index: 2;
	display: block;
	overflow-y: hidden;
	}
	.Head_font{
		font-size: 60px;
		text-shadow: 1px 1px 3px black;
		text-transform: uppercase;
	}
	.Secondary_font{
		font-size: 30px;
		text-shadow: 1px 1px 4px black;
	}
	.divider{
		min-width: 100%;
		min-height: 10px;
		background-color: rgba(117,85,74,1.00);
	}
	.pres2
	{
		min-height: 900px;
		min-width: 100%;
	}
	.pres2_container{
		
		height: 100%;
		width: 1500px;
		display: block;
		margin: auto;
		text-align: center;
		overflow-y: hidden;
	}
	.img_button{
		list-style: none;
		text-align: center;
	}
	.img_button li{
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		padding: 0px;
		padding-bottom: 10px;
		padding-top: 10px;
		margin: 50px;
	}
	.info{
		width: 70%;
		border-radius: 5%;
		padding: 0px;
		box-shadow: 1px 1px 10px 1px black;
		transition-duration: 1s;
	}
	.info:hover{
		width: 90%;
		}
		.pres3{
		width: 100%;
		min-height: 1080px;
	}
	.servizi{
		margin-top: 2.5px;
		width: 100%;
		min-height: 350px;
		background-color: #75554A;
	}
	.container{
		margin: 20px 0px 20px 0px;
		width: 100%;
		height: 400px;
		background-color: #FFFAF4;
		outline: solid #75554A;
		animation-name: entrata_sinistra;
		animation-duration: 1s;
	}
	.container2{
		margin: 20px 0px 20px 0px;
		width: 100%;
		height: 400px;
		background-color: #FFFAF4;
		outline: solid #75554A;
		animation-name: entrata_destra;
		animation-duration: 1s;
	}
	.contatta{
		font-size: 30px;
		margin: 10px 50% 0px 50%;
		border-radius: 7px;
		background-color: white;
		color: #75554A;
		padding: 5px;
		transition-duration: 0.4s;
	}
	.contatta:hover{
		font-size: 30px;
		margin: 10px 50%;
		border-radius: 7px;
		background-color: #75554A;
		color: white;
	}
	.servizi_image_container{
		height: 100%;
		width: 50%;
		overflow-y: hidden;
		float: left;
		outline: solid #75554A;
		
	}
	.servizi_image_container2{
		height: 100%;
		width: 50%;
		overflow-y: hidden;
		float: right;
		outline: solid #75554A;
	}
	.servizi_image_container2 img{
		display: inline;
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: middle;
		
		
	}
	.servizi_image_container img{
		display: inline;
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: middle;
	}
	.servizi_text_container{
		height: 100%;
		width: 50%;
		text-align: right;
		

	}
	.servizi_text_container2{
		height: 100%;
		width: 50%;
		text-align: left;
		
	}
	.servizi_title{
		font-size: 45px;
		text-transform: uppercase;
		color: #75554A;
		margin: 0px 20px 0px 20px;
	}
	.servizi_text{
		font-size: 35px;
		margin: 0px 20px 0px 20px;
	}
	.conteiner3_1{
		margin: 20px 0px 20px 0px;
		width: 100%;
		min-height: 600px;
		background-color: #FFFAF4;
		outline: solid #75554A;
		position: relative;
		z-index: 1;
		overflow-y: hidden;
	}
		.container3{
		width: 100%;
		height: 90%;
		outline: solid #75554A;
		position: absolute;
		z-index: 1;
		overflow-y: hidden;
	}
	.cover{
		height: 100%;
		width: 50%;
		left: 50%;
		position: absolute;
		background-color: #FFFAF4;
		z-index: 999;
		transition-duration: 1s;
		overflow-y: hidden;
	}
	.pulsante_container{
		text-align: center;
		width: 100%;
		height: 100%;
	}
	#btn1{
		text-align: center;
		transition-duration: 0.2s;
	}
	#btn2{
		text-align: center;
		transition-duration: 0.2s;
	}
	.pulsante_p{
		min-height: 40px;
		position: absolute;
		margin: auto, 2px, auto, auto;
		z-index: 9999;
		background-color: transparent;
		color: #75554A;
		text-transform: uppercase;
		font-size: 100px;
		border: none;
		padding: 3px;
		transition: 0.2s;
		
		
	}
	.pulsante_p:hover{
		font-size: 120px;
	}
	.pulsante_p_container{
		width: 100%;
		text-align: center;
	}
	.fa{
		overflow-y: hidden;
	}
	.cover_container{
		height: 47%;
		width: 80%;
		margin: 10px 0px 0px 10px;
		overflow-y: hidden;
	}
	#testa{
		transition-duration: 1s;
		text-transform: uppercase;
	}
	/* Slideshow container */
.slideshow-container {
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
	margin: auto;
	z-index: 1;
	object-fit: cover;
	overflow-y: hidden;
}
	.slideshow-container2 {
	height: 100%;
	width: 50%;
	float: right;
	position: relative;
	margin: auto;
	z-index: 1;
	object-fit: cover;
	overflow-y: hidden;
}
	.slideshow-container3 {
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
	margin: auto;
	z-index: 1;
	object-fit: cover;
	overflow-y: hidden;
}
	.slideshow-container4 {
	height: 100%;
	width: 50%;
	float: right;
	position: relative;
	margin: auto;
	z-index: 1;
	object-fit: cover;
	overflow-y: hidden;
}
	.mySlides1 {
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}
	.mySlides2 {
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}
	.mySlides3 {
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}
	.mySlides4 {
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}
	.mySlides1 img{
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}
	.mySlides2 img{
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}
	.mySlides3 img{
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}
	.mySlides4 img{
		width: 100%;
		height: 100%;
		display: inline;
		vertical-align: top;
		object-fit: cover;
	}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
	.press4{
		min-height: 1000px;
	}
	.container4{
		margin: 20px 0px 20px 0px;
		width: 100%;
		min-height: 1000px;
		background-color: #FFFAF4;
		outline: solid #75554A;
	}
	.me{
		min-height: 400px;
		width: 30%;
		float: left;
	}
	.info1{
		margin-top: 10px;
		min-height: 400px;
		width: 70%;
		float: right;
	}
		.info1 h1{
		text-transform: uppercase;
		color: #75554A;
	}
	.info1 p{
		font-size: 20px;
		margin-right: 400px;
	}
	.info1 ul{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.info1 ul li{
		font-size: 20px;
	}
	.foto_me{
		margin: 90px 0 0 0px;
		text-align: center;
	}
	.foto_me img{
		border: solid #75554A;
	}
	.posizione{ 
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}
	.posizione p{
		font-size: 20px;
	}
	.posizione img{
		border: solid #75554A
	}
	.press5{
		min-height: 600px;
	}
	.form_container{
		margin: 30px 0px 30px 0px;
		min-height: 600px;
		width: 100%;
		background-color: #FFFAF4;
		outline: solid #75554A;
		text-align: center;
		color: #75554A;
	}
	.contatti_left{
		height: 600px;
	}
	.contatti{
		border-radius: 5px;
		margin: 0px 10px;
		padding: 5px;
	}
	.contatti2{
		margin: 10px 10px 10px 10px;
		width: 300px;
		height: 300px;
		padding: 10px;
		resize: none;
		border-radius: 15px;
	}
.form_container button {
  background-image: radial-gradient(100% 100% at 100% 0, #FFFAF4 0, #75554A 100%);
  border-radius: 100px;
  box-shadow: rgba(117,85,74,0.2) 0 -25px 18px -14px inset,rgba(117,85,74,0.15) 0 1px 2px,rgba(117,85,74,0.15) 0 2px 4px,rgba(117,85,74,0.15) 0 4px 8px,rgba(117,85,74,0.15) 0 8px 16px,rgba(117,85,74,0.15) 0 16px 32px;
  color: #FFFAF4;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form_container button:hover {
  box-shadow: rgba(117,85,74,0.35) 0 -25px 18px -14px inset,rgba(117,85,74,0.25) 0 1px 2px,rgba(117,85,74,0.25) 0 2px 4px,rgba(117,85,74,0.25) 0 4px 8px,rgba(117,85,74,0.25) 0 8px 16px,rgba(117,85,74,0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
		.press6{
		min-height: 600px;
	}
	.ringraziamento{
		margin: 30px 0px 30px 0px;
		min-height: 600px;
		width: 100%;
		background-color: #FFFAF4;
		outline: solid #75554A;
		text-align: center;
		color: #75554A;
	}
	.ringraziamento h1{
		font-size: 100px;
	}
	.ringraziamento p{
		font-size: 60px;
	}
	.footer{
		bottom: 50px;
		width: 100%;
		height: 500px;
		background-color: white;
		margin: auto;
		text-align: center;
	}
	.footercontainer{
		height: 100%;
		width: 1000px;
		margin: auto;
	}
	.footer_logo_container{
		width: 40%;
		margin: auto;
		
	}
}
